:root {
    --accent-primary: ;
    --accent-secondary: ;
    --background-primary: ;
    --background-secondary: ;
    --background-tertiary: ;
    --background-primary-alt: ;
    --background-secondary-alt: ;
    --background-tertiary-alt: ;
    --text-normal: ;
    --text-muted: ;
}
* {
    margin: 0;
    padding: 0;
}
