<!DOCTYPE html>
<title>{% block title %}{% endblock %} | Block&Bass</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Block&Bass</h1>
    <ul>
        <li><a href="{{ url_for('discord.index') }}">Discord</a></li>
        <li><a href="{{ url_for('main.install') }}">how to join</a></li>
        <li><a href="{{ url_for('main.about') }}">about</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>