<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>{{ title + ' | Block&Bass' or 'Block&Bass' }}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Development Libs -->
  {#
    <link rel="stylesheet" href="{{ url_for('static', filename='material.min.css') }}">
    <script src="{{ url_for('static', filename='material.min.js') }}"></script>
    #}

  <!-- Internal -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

</body>

</html>